<div>
    @{
        var all_route_parms = new Dictionary<string, string>{
        { "x","200" }, { "y","50"}
        };

    }


<div>
    <a asp-action="Add" asp-controller="Calculator"
    asp-route-x="258" asp-route-y="6">CallAdd asp-route</a>
</div>

<div>
    <a asp-action="Add" asp-controller="Calculator"
    app-all-route-date="all_route_parms">CallAdd all_routre_parms</a>
</div>

<!--HTML Helper-->
    @await Html.PartialAsync("ChildList")

</div>